{% extends '@Messenger/base.html.twig' %}

{% block title %}Create chat{% endblock %}

{% block body %}

    {{ breadcrumbAdd('Message', '/chat') }}
    {{ breadcrumbAdd('Create', '/chat/create') }}

    <h3>
        Create chat
    </h3>

{% endblock %}