
<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
    <i class="far fa-comments"></i>
    <span class="badge badge-danger navbar-badge">3</span>
</a>

<div class="dropdown-menu message-menu-box dropdown-menu-lg dropdown-menu-right" aria-labelledby="navbarDropdown">
    {{ widget('ZnBundle\\Messenger\\Symfony\\Widgets\\MenuWidget') }}
    <div class="dropdown-divider"></div>
    <a href="{{ path('web_messenger_chat_index') }}" class="dropdown-item">See All Messages</a>
</div>
